@media screen and (min-width: 768px) {
    .header-logo {
        margin: 51px 0 66px 0;
    }
    .div-image-hero {
        width: 820px;
     }
     .image-hero {
        margin-bottom: 72px;
     }
     .text-container-1, .text-container-2 {
        margin-bottom: 80px;
    }
    .text-container-1-h1 {
        width: 339px;
        font-size: 48px;
        line-height: 48px;
    }
    .text-container-1-p {
        width: 457px;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .button1 {
        margin-bottom: 0;
    }
    .line-circle1 {
        margin-bottom: 67px;
    }
    .photos {
        display: flex;
        margin-bottom: 40px;
    }
    .text-container-2-h3 {
        margin-bottom: 16px;
    }
    .text-container-2-h2 {
        width: 445px;
        font-size: 40px;
        line-height: 44px;
    }
    .text-container-2-p {
        width: 573px;
    }
    footer {
        height: 430px;
        background-image: url("assets/tablet/image-footer.jpg");
    }
    .footer-h2 {
        width: 457px;
        margin-bottom: 32px;
        font-size: 40px;
        line-height: 44px;
    }
    .footer-p {
        width: 573px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .header-logo {
        margin: 83px 0 63px 0;
    }
    .image-hero {
        display: none;
    }
    .div-image-hero {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .left-img, .right-img {
        position: absolute;
        display: flex;
    }
    .left-img {
        left: 10px;
    }
    .right-img {
        right: 10px;
    }
    .text-container-1, .text-container-2 {
        margin-bottom: 117px;
    }
    .text-container-1 {
        position: relative;
    }
    .text-container-1-h1 {
        width: 445px;
        font-size: 64px;
        line-height: 64px;
    }
    .text-container-1-p {
        width: 540px;
        font-size: 18px;
    }
    .photos {
        margin-bottom: 66px;
    }
    .text-container-2-p {
        width: 540px;
        font-size: 18px;
    }
    .text-container-2 {
        margin-bottom: 72px;
    }
    footer {
        height: 310px;
        background-image: url("assets/desktop/image-footer.jpg");
    }
    .footer-text {
        flex-direction: row;
        justify-content: space-around;
    }
    .footer-h2 {
        width: 350px;
        margin-bottom: 0px;
        text-align: start;
    }
    .footer-p {
        width: 350px;
        margin-bottom: 0px;
        text-align: start;
    }
    .button1:hover  {
        cursor: pointer;
        background: #71C0D4;
    }
    .button2:hover  {
        cursor: pointer;
        background: #B18BDD;
    }
    .footer-button:hover {
        cursor: pointer;
        background: #B18BDD;
    }
}