@media screen and (min-width: 768px) {
    .header-logo {
        margin: 51px 0 66px 0;
    }
    .div-image-hero {
        width: 820px;
     }
     .image-hero {
        margin-bottom: 72px;
     }
     .text-container-1, .text-container-2 {
        margin-bottom: 80px;
    }
    .text-container-1-h1 {
        width: 339px;
        
        font-size: 48px;
        line-height: 48px;
    }
    .text-container-1-p {
        width: 457px;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .button1 {
        margin-bottom: 0;
    }
    .line-circle1 {
        margin-bottom: 67px;
    }
    .photos {
        display: flex;
        margin-bottom: 40px;
    }
    .text-container-2-h3 {
        margin-bottom: 16px;
    }
    .text-container-2-h2 {
        width: 445px;
    
        font-size: 40px;
        line-height: 44px;
    }
    .text-container-2-p {
        width: 573px;
    }
    footer {
        height: 430px;
        background-image: url("assets/tablet/image-footer.jpg");
    }
    .footer-h2 {
        width: 457px;
        margin-bottom: 32px;
    
        font-size: 40px;
        line-height: 44px;
    }
    .footer-p {
        width: 573px;
        margin-bottom: 40px;
    }
}